
.custom-data-row {
    height: fit-content;
}

.custom-cell-row {
    max-width: 10px !important;
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 150px;
    white-space: normal;
}

.custom-text-field-row {
    max-width: 100px;

    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: normal !important;
}

.auto-height-text-field {
    width: 100%; /* Full width */
    resize: none; /* Prevent manual resizing */
    overflow-wrap: break-word; /* Allow word wrapping */
    white-space: normal; /* Allow normal whitespace behavior */
}

/* Icon ====================================================== */

.delete-icon-table {
    color: var(--warning-color);
}

.edit-icon-table {
    color: var(--secondary-color);
}

.status-table {
    border-radius: 5px !important;
    color: var(--color-white) !important;
}

.editing-status {
    background-color: var(--secondary-color) !important;
    color: var(--color-white) !important;
}

.valid-icon {
    background-color: var(--color-line) !important;
}

.invalid-icon {
    background-color: var(--warning-color) !important;
}